@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("@/../../../public/fonts/roc-grotesk-font/Roc\ Grotesk\ Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roc Grotesk";
  src: url("@/../../../public/fonts/roc-grotesk-font/Roc\ Grotesk\ Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roc Grotesk";
  src: url("@/../../../public/fonts/roc-grotesk-font/Roc\ Grotesk\ Medium.ttf")
    format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("@/../../../public/fonts/roc-grotesk-font/Roc\ Grotesk\ Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("@/../../../public/fonts/Karla/static/Karla-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
:root {
  /* --foreground-rgb: 0, 0, 0; */
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #0b0a0a;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "font-karla";
  }
}

/* to-purple*/
.to-purple {
  position: relative;
  overflow: hidden;
}

.to-purple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #9291eb;
  transform: translate(-110%, 0);
  opacity: 0;
  transition: 0.5s;
  border-radius: inherit;
}

/* .to-purple:hover .text {
  color: #fff;
} */

.to-purple:hover::before {
  transform: translate(-0%, 0);
  opacity: 1;
}

/* to-blue*/
.to-blue {
  position: relative;
  overflow: hidden;
}

.to-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #9adbe5;
  transform: translate(-110%, 0);
  opacity: 0;
  transition: 0.5s;
  border-radius: inherit;
}

.to-blue:hover .text {
  color: #000;
}

.to-blue:hover::before {
  transform: translate(-0%, 0);
  opacity: 1;
}

/* to-milk*/
.to-milk {
  position: relative;
  overflow: hidden;
}

.to-milk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #fdf8e8;
  transform: translate(-110%, 0);
  opacity: 0;
  transition: 0.5s;
  border-radius: inherit;
}

.to-milk:hover .text {
  color: #000;
}

.to-milk:hover::before {
  transform: translate(-0%, 0);
  opacity: 1;
}

/* to-deepteal*/
.to-deepteal {
  position: relative;
  overflow: hidden;
}

.to-deepteal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #0e4a56;
  transform: translate(-110%, 0);
  opacity: 0;
  transition: 0.5s;
  border-radius: inherit;
}

.to-deepteal:hover .text {
  color: #fff;
}

.to-deepteal:hover::before {
  transform: translate(-0%, 0);
  opacity: 1;
}

.text {
  position: relative;
  transition: 0.5s;
}
